@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    width: 90vw;
    margin: auto;
    background-color: black;
    color: white;
}

.container {
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 1200px;
    /* opcional */
    margin: 0 auto;
    background-color: black;
    color: white;
}