.corpoHeader {
    display: flex;
    justify-content: space-between;
}

.corpoNavHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tamanhoEspacoHeader1 {
    flex: 2;
}

.tamanhoEspacoHeader2 {
    flex: 1;
}

@media screen and (max-width: 700px) {
    .tamanhoEspacoHeader2 {
        flex: 2;
    }
}