.corpoMain {
    display: flex;
    height: 500px;
}

.corpoMain h2 {
    font-size: 40px;
}

.corpoMain p {
    font-size: 16px;
    color: rgb(165, 167, 168);
}

.corpoMain button {
    padding: 16px 45px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(46, 96, 211);
    color: white;
}

.corpoMain1 {
    flex: 1;
}

.corpoMain2 {
    flex: 1;

}

.corpoMain2 img {
    height: 400px;
}

.corpoMain2Img {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 873px) {
    .corpoMain {
        flex-direction: column;
    }

    .corpoMain1 {
        text-align: center;
    }

    .corpoMain2Img {
        justify-content: center;
    }
}