.corpoMain {
    display: flex;
}

.corpoMain h2 {
    font-size: 40px;
}

.corpoMain p {
    font-size: 16px;
    color: rgb(165, 167, 168);
}

.corpoMain button {
    padding: 16px 45px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(46, 96, 211);
    color: white;
}