.corpoMain {
    display: flex;
    height: 500px;
    align-items: center;
    gap: 30px;
    padding: 60px 0;
}

.corpoMain h2 {
    font-size: 40px;
}

.corpoMain p {
    font-size: 16px;
    color: rgb(165, 167, 168);
    max-width: 400px;
    line-height: 1.6;
}

.corpoMain button {
    padding: 16px 45px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(46, 96, 211);
    color: white;
}

.corpoMain1 {
    flex: 1;
}

.corpoMain2 {
    flex: 1;

}

.corpoMain2 img {
    height: 400px;
}

.corpoMain2Img {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 873px) {
    .corpoMain {
        flex-direction: column;
    }

    .corpoMain1 {
        text-align: center;
    }

    .corpoMain2 {
        margin-top: 30px;
    }

    .corpoMain2Img {
        justify-content: center;
    }
}